<%- include('head', {}); %>

<body>
    <main id="main-index">
        <section class="landing">
            <h1 class="landing-title">Bee Well Journal</h1>
            <div class="landing-detail">
            <h2>Gratitude and Mindfulness can help prepare and strengthen you for the rough patches of your life. Use this journal to check in with yourself and stay focused on the things that matter</h2>
            <p>Login or Register with:</p>
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>
        </div>
        </section>
    </main>
    <%- include('scripts', {}); %>
</body>

</html>