<%- include('head', {}); %>

<body>
    <main>
        <header role="banner" class="index-head">
        </header>
        <section class="landing">
            <h2>Gratitude and Mindfulness can help you prepare and strengthen you for the rough patches of your life</h2>
            <h2>Use the journal to check in with yourself and to stay focused on the things that matter</h2>
            <p>Login or Register with:</p>
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>
        </section>
    </main>
    <%- include('scripts', {}); %>
</body>

</html>