body * {
    box-sizing: border-box;
    color: #213210;
}

body, html {
    height: 100%;
}

body {
    background-color: #EFF5E9;
    font-family: 'Merriweather', serif;
    min-height: 100vh;
}

.hidden {
    display: none;
    visibility: hidden;
}

.links {
    color: blue;
    text-decoration: underline;
}

.links:hover {
    text-decoration: none;
}

.links:active {
    color: black;
}

.links:visited {
    color: purple;
}

.btn {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    width: 125px;
    text-decoration: none;
    background: #F89A76;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.btn-create {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #F89A76;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.btn-journal {
    display: inline-block;
    border: none;
    min-width: 80px; 
    padding: 10px 15px;
    margin: 5px;
    text-decoration: none;
    background: #F89A76;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.btn:hover, .btn:focus, .btn-journal:hover, .btn-journal:focus {
    background: #666C35;
}
#logout:hover, #logout:focus {
    color: #666C35;
}
.btn:focus, #logout:focus, .btn-journal:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.btn:active, #logout:active, .btn-journal:active {
    transform: scale(0.99);
}

.keyword {
    font-style: italic;
}

#main-index {
    background: url('img/icon_50.png') no-repeat center center;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bee-well-title {
    font-family: 'Fredoka One', cursive;
    text-align: center;
    color: #213210;
    font-size: 2rem;
    margin: .75rem;
}

.landing {
    text-align: center;
    color: #213210;
    margin: 10px;
}

.landing-content {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;
}

.landing-detail {
    text-align: center;
    color: #213210;
    padding: 0 .5rem;
}

.landing-auth {
    flex-shrink: 0;
    text-align: center;
    color: #213210;
}

#auth-label {
    padding: 10px;
    font-size: 1.25rem;
}

#auth-btns {
    font-family: 'Fredoka One', cursive;
}

#copyright {
    margin-top: 10px;
    padding: 10px;
}

.alert {
    padding: 12px;
    background-color: #f44336b2;
    color: white;
    margin: 5px;
}

.form-sign, .form-log {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 25px;
    padding: 15px;
}

.sign-head, .log-head {
    font-family: 'Fredoka One', cursive;
    font-size: 38px;
}

.sign-form, .log-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.form-group {
    margin-bottom: 1rem
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.radio-group {
    display: block;

}
.form-improve-control {
    height: 200px;
}
.form-journal-control {
    height: 400px;
}
.radio-control {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin: 15px;
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}
.form-text {
    margin: 0;
    padding: .375rem .75rem;
}

/* Dashboard Styling */
.page-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100px;
   
}
.bee-well-dash {
    font-family: 'Fredoka One', cursive;
    text-align: left;
    color: #213210;
    font-size: 32px;
    margin: 5px 5px 5px 5px;
    flex: 1 1 auto;
}
#bee-well-logo {
    margin-left: 5px;
    flex-shrink: 0;
    height: auto;
}

#logout {
    color: #F89A76;
    flex-shrink: 0;
    margin: 20px;
}

#logout-btn {
    margin-right: 18px;
}
.plotly {
    flex: 1 0 auto;
}
.journal-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    font-family: "Monserrat", serif;
}
.journal-links {
    text-decoration: none;
    flex: 1 0 auto;
}

.journal-links:hover {
    
    font-family: 'Merriweather', serif;
}

.journal-links:active {
    color: black;
}

.journal-links:visited {
    color: purple;
}

.journal-links-container {
    border: 1px solid #F2F8EC;
    background-color: #ffffff;
    margin-top: 10px;
    width: 90%;
    min-height: 300px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
}

#dash-footer {
    height: 20px;
    text-align: right;
    margin-top: auto;
}
.main-journal {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.journal-entry {
    border: 1px solid #F2F8EC;
    background-color: #ffffff;
    width: 90%;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    padding: 7% 7%;
    margin-bottom: 45px;
    margin-top: 25px;
}

.journal-date {
    border-bottom: 1px solid #21321048;
    padding-bottom: 5px;
    font-size: 18px;
}
.answers-final {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
li {
    list-style: circle;
}
.navigation {
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 411px) {
    .journal-date {
        border-bottom: 1px solid #21321048;
        padding-bottom: 5px;
        font-size: 18px;
        text-align: center;
    }
    .form-group {
        text-align: center;
    }
    .radio-control {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        margin: 15px;
        padding: .375rem .75rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
    }
}


@media only screen and (min-width: 1000px) {
    #main-index {
        background: url('img/icon.png') no-repeat center center;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bee-well-title {
        font-family: 'Fredoka One', cursive;
        text-align: center;
        color: #213210;
        font-size: 4rem;
        margin: .75rem;
    }
    .bee-well-dash {
        font-family: 'Fredoka One', cursive;
        text-align: left;
        color: #213210;
        font-size: 45px;
        margin: .75rem;
        margin-left: 20px;
        flex: 1 1 auto;
    }
    #bee-well-logo {
        margin-left: 5px;
        flex-shrink: 0;
    }

    .navigation {
        display: flex;
        justify-content: flex-end;
    }
    .journal-date {
        border-bottom: 1px solid #21321048;
        padding-bottom: 5px;
    }
}
